n8n-github-push-notifier.json
{
  "name": "DOWNLOADING DE NOTÍCIAS > PARA MEU SITE",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "6f855b2d-71b7-40e2-9a7c-23d166cec169",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://cmb.pa.gov.br/c/noticias/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "b15e7bf8-fb3e-4d08-9199-6afb2b77910a",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "returnArray": true
            },
            {
              "key": "title",
              "cssSelector": ".entry-title"
            },
            {
              "key": "url",
              "cssSelector": ".entry-title a@href"
            },
            {
              "key": "date",
              "cssSelector": ".entry-date"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        416,
        0
      ],
      "id": "756e89c3-e91a-4a44-9a4a-3c00be38e461",
      "name": "HTML"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "337d93af-4f25-4d24-b0b0-9cc943e2be9b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        832,
        208
      ],
      "id": "023dcb32-8f6f-4b7c-9f47-087d975fb744"
    },
    {
      "parameters": {
        "url": "={{ $json[\"url\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "f0830785-f197-4588-b693-1c366e68fc80",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "content",
              "cssSelector": ".entry-content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1040,
        -96
      ],
      "id": "517b7eb3-b76d-44fc-8fad-1c8f1d7f5813",
      "name": "HTML1"
    },
    {
      "parameters": {
        "title": "={{ $json[\"title\"] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1248,
        -96
      ],
      "id": "de098a49-9ef6-4acc-b721-a80a407ed034",
      "name": "Create a post"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4ba132e8-4f6d-4498-9608-480c6292f146",
  "meta": {
    "instanceId": "ddfdf8092200fd3a9a2dd3993590cedcc2797edf72e21122f0a1bf542e7e5a15"
  },
  "id": "hKDg4MsOVOjdi0EB",
  "tags": []
}
